@*<h1>Lunetech Test Apllication </h1>*@

@*<table border="1">*@
@*<thead>*@
@*<th>Name</th>*@
@*<th>Code</th>*@
@*<th>Continent</th>*@
@*<th>Wikipiedia Link</th>*@
@*<th>keywords</th>*@
@*<th>airports</th>*@
@*</thead>*@
@*<tbody>*@
@* @for(country <- countries) {*@
@*<tr>*@
@*<td>@country.getName()</td>*@
@*<td>@country.getCode()</td>*@
@*<td>@country.getContinent()</td>*@
@*<td>@country.getWikipedia_link()</td>*@
@*<td>@country.getKeywords()</td>*@
@* @for(airport <- country.getAirports()) {*@
@*<tr>*@
@*<td>@airport.getName()</td>*@
@*</tr>*@
@*}*@
@*</tr>*@
@*}*@
@*</tbody>*@
@*</table>*@
@(countryForm: Form[models.Country])
@if(flash.get("success") != null) {
    <p>@flash.get("success")</p>
}

@helper.form(action = routes.CountryController.postForm()) {
    @helper.inputText(countryForm("name"))
    <input type="submit">
}
